<div class="text-center">
	<h2>Viewing the Heatmap for all {{countMissing}} missing people</h2>
	<h4>There are a total of {{pointCount}} points on the Heatmap</h4>
	<br />
	<div class="row">
		<div class="col-md-12">
			<div>
				<ui-gmap-google-map center='map.center' zoom='map.zoom'>
                    <ui-gmap-layer namespace="visualization" type="HeatmapLayer" show="map.showHeat" onCreated="map.heatLayerCallback"></ui-gmap-layer>
                </ui-gmap-google-map>
			</div>
		</div>
	</div>
</div>