<div class="jumbotron text-center">
	<div class="row">
		<div class="col-md-3">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="person in missingPeople">
					{{person.forenames}} {{person.surname}}
				</li>
			</ul>
		</div>
		<div class="col-md-9">
			<div>
				<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
			</div>
		</div>
	</div>
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Count</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="person in topPeople">
					<td>{{person.forenames}} {{person.surname}}</td>
					<td>{{person.lastSeen.length}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>