.angular-google-map-container { height: 400px; }

h2 {
    margin-top: 30px;
}

td{
    text-align: left;
}

tr:hover {background-color: #f5f5f5}

tr:nth-child(even) {background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}