.angular-google-map-container { height: 400px; }

h2 {
    margin-top: 30px;
}

td{
    text-align: left;
}

tr:hover {background-color: #f5f5f5}

tr:nth-child(even) {background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

.navbar{
    background-color: transparent;
    border-color: #4CAF50
}

.navbar-brand, .navbar-inverse, navbar-nav, .navbar-inverse .navbar-nav > li > a{
    color: black !important;
}

.navbar-header:hover, navbar-nav:hover{
    background-color: #4CAF50;
    color: black;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
    background-color: #4CAF50;
    color: black;
}

li:hover {background-color: #4CAF50}